.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-fill-available;
  min-height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.items {
  height: 2rem;
  width: 12rem;
  border-radius: 5px;
}

.item-button {
  height: 2rem;
  width: 8rem;
  border-radius: 5px;
  border: 0px;
  background-color: black;
  color: wheat;
  cursor: pointer;
}
